<form id="form" method="post">

    <div>
        <label for="location">Location</label>
        <select id='loc' name='location'>
            <option value="" selected>All</option>
            <option value="Paris">Paris</option>
            <option value="London">London</option>
            <option value="Madrid">Madrid</option>
            <option value="Berlin">Berlin</option>
        </select>
    </div>
    

    <div>
        <label for="categories"> Please select yours specialties</label>
        <input class="checkbox" type="checkbox" name="categories" value="events"> Events<br>
        <input class="checkbox" type="checkbox" name="categories" value="lifestyle"> Lifestyle<br>
        <input class="checkbox" type="checkbox" name="categories" value="real estate"> Real estate<br>
        <input class="checkbox" type="checkbox" name="categories" value="portrait"> Portrait<br>
        <input class="checkbox" type="checkbox" name="categories" value="packshots"> Packshots<br>
        <input class="checkbox" type="checkbox" name="categories" value="food"> Food<br>
        <input class="checkbox" type="checkbox" name="categories" value="fashion"> Mode<br>
        <input class="checkbox" type="checkbox" name="categories" value="advertising"> Advertising 
    </div>
    

</form>