<form id="form" action="/photographers/add" method="POST">
    <div>
       <label for="price">Price</label>
        <input type="number" name="price" placeholder="700"> 
    </div>

    <select name='location'>
        <option value="" disabled selected>Choose a location</option>
        <option value="Paris">Paris</option>
        <option value="London">London</option>
        <option value="Madrid">Madrid</option>
    </select>

    <div>
        <label for="categories"> Please select yours specialties</label>
        <input type="checkbox" name="categories" value="Events"> Events<br>
        <input type="checkbox" name="categories" value="lifestyle"> Lifestyle<br>
        <input type="checkbox" name="categories" value="real estate"> Real estate<br>
        <input type="checkbox" name="categories" value="Portrait">Portrait<br>
        <input type="checkbox" name="categories" value="real estate"> Packshots and still life<br>
        <input type="checkbox" name="categories" value="Food"> Food<br>
        <input type="checkbox" name="categories" value="Mode"> Mode<br>
        <input type="checkbox" name="categories" value="Advertising"> Advertising 
    </div>
    
    <button type="submit">Find</button>

</form>