<form id="form" method="post">
    <p>Search a photographer</p>
    <div>
        <label for="location">Location</label>
        <select id='loc' name='location'>
            <option value="" selected>All</option>
            <option value="Paris">Paris</option>
            <option value="London">London</option>
            <option value="Madrid">Madrid</option>
            <option value="Berlin">Berlin</option>
        </select>
    </div>
    
    
    <div>
        <label for="categories">Specialities</label>
        <div>
            <input class="checkbox" type="checkbox" name="categories" value="events"> Events<br>
            <input class="checkbox" type="checkbox" name="categories" value="lifestyle"> Lifestyle<br>
            <input class="checkbox" type="checkbox" name="categories" value="real estate"> Real estate<br>
            <input class="checkbox" type="checkbox" name="categories" value="portrait"> Portrait<br>
            <input class="checkbox" type="checkbox" name="categories" value="packshots"> Packshots<br>
            <input class="checkbox" type="checkbox" name="categories" value="food"> Food<br>
            <input class="checkbox" type="checkbox" name="categories" value="fashion"> Fashion<br>
            <input class="checkbox" type="checkbox" name="categories" value="advertising"> Advertising 
        </div>
        
    </div>


    

</form>