<nav id="nav-main" class="nav">
  {{!-- <a href="/main">Home</a> --}}
  <div class="left-nav overlay-content">
    <a href="/photographers">Our Talents</a>
    <a href="/about">About Us</a>
  </div>
  <div class="center-nav">
    <h2 id="logo"><a href="/">Cliché</a></h2>
  </div>
  <div class="admin-nav overlay-content">
    {{#if isLoggedIn}}
    <a href="/photographers/add">Add Talent</a>
    <a href="/photographers/manage">Manage Talents</a>
    {{/if}}
  </div>
  <div class="right-nav overlay-content">
    {{#unless isLoggedIn}}
    <a href="/auth/signup">Sign Up</a>
    <a href="/auth/signin">Sign In</a>
    {{/unless}}

    {{#if isLoggedIn}}
    <a href="/auth/signout">Sign Out</a>
    {{/if}}
  </div>

</nav>