<nav id="nav-main" class="nav">
  {{!-- <a href="/main">Home</a> --}}
  <div class="left-nav">
    <a href="#">Our Talents</a>
    <a href="#">About Us</a>
  </div>
  <div class="center-nav">
    <h2 id="logo">Project 2</h2>
  </div>
  <div class="admin-nav">
    {{#if isLoggedIn}}
    <a href="">Add Talent</a>
    <a href="">Manage Talents</a>
    {{/if}}
  </div>
  <div class="right-nav">
    {{#unless isLoggedIn}}
    <a href="/auth/signup">Sign Up</a>
    <a href="/auth/signin">Sign In</a>
    {{/unless}}

    {{#if isLoggedIn}}
    <a href="/auth/signout">Sign Out</a>
    {{/if}}
  </div>

</nav>

{{!-- <div class="big-container">
  <header class="header">
    <nav class="nav-wrapper flexed-item">
      <div class="nav-link-wrapper flexed-item">
        <div class="nav-logo">
          <a href="/home" class="flexed-item">
            <span class="logo-item circle"></span>
            <h2 class="logo-item">SNEAKLOVE</h2>
          </a>
        </div>
        <ul class="nav-link flexed-item">
          <li class="nav-item animated-link">
            <a href="">Collection</a>
          </li>
          {{#if isLoggedIn}}
          <li class="nav-item animated-link nav-item-admin">
            <a href="">Add Photographer</a>
          </li>
           <li class="nav-item animated-link nav-item-admin">
            <a href="">Manage Photographer</a>
          </li>
          {{/if}}
        </ul>
      </div>
      <div class="flexed-item nav-end">
        {{#unless isLoggedIn}}
        <a  href="/auth/signin" id="nav_login" class="button-ternary flexed-item nav-end-item">
          <span class="btn-text">Sign in</span>
        </a>
        {{/unless}}
        {{#if isLoggedIn}}
        <a  href="/auth/signout" id="nav_logout" class="button-ternary flexed-item nav-end-item">
          <span class="btn-text">Sign out</span>
        </a>
        {{/if}}
      </div>
    </nav>
  </header>
</div> --}}