{{!-- APPLY STICKY NAV BAR!! --}}

<nav id="nav-main" class="nav sticky">
  {{!-- <a href="/main">Home</a> --}}
  <div class="left-nav">
    <a href="/photographers">Our Talents</a>
    {{#if showAbout}}
    <a href="#about">About Us</a>
    <a href="#contact">Join Us!</a>
    {{/if}}
  </div>
  <div class="center-nav">
    <a href="/"><img src="/images/logo/Fichier 164.png"></a>
  </div>
  {{!-- <div class="admin-nav overlay-content">
    {{#if isLoggedIn}}
    <button class="dropbtn">Admin</button>
    <div class="dropdown-content">
      <a href="/photographers/add">Add</a>
      <a href="/photographers/manage">Manage</a>
    </div>
    {{/if}}
  </div> --}}
  <div class="right-nav">
    {{#unless isLoggedIn}}
    <div><a href="/auth/signup">Sign Up</a></div>
    <div><a href="/auth/signin">Sign In</a></div>
    
    
    {{/unless}}

    {{#if isLoggedIn}}
    <div class="admin-nav">
      <button class="dropbtn">Admin</button>
        <div class="dropdown-content">
          <a href="/photographers/add">Add</a>
          <a href="/photographers/manage">Manage</a>
        </div>
    </div>
    <div><a href="/account">Account</a></div>
    <div><a href="/auth/signout">Sign Out</a></div>
    
    {{/if}}
  </div>

</nav>