<div class="intro-container">
    <h1>Catch Phrase</h1>
    <div class="search-container">
        <p>Search by</p>
        <form action="" method="">
            <select name="cities">
                <option value="paris">Paris</option>
                <option value="london">London</option>
            </select>
            <input type="submit">
        </form>
    </div>
</div>
<div id="second-part">
    <div class="visual-container">
        <div class="box">
            <img class="img-home" src="images/Photographers-Pictures/Klaudia-Iga/KI8.jpg">
            <div class="middle">
                <div class="text">
                    Klaudia Iga<br>See more...
                </div>
            </div>
        </div>

        <div class="box">
            <img class="img-home" src="images/Photographers-Pictures/Anais-Da-Silva/ADS2.png">
            <div class="middle">
                <div class="text">
                    Anais Da Silva<br>See more...
                </div>
            </div>
        </div>

        <div class="box">
            <img class="img-home" src="images/Photographers-Pictures/Caspar-Miskin/CM4.png">
            <div class="middle">
                <div class="text">
                    Caspar Miskin<br>See more...
                </div>
            </div>
        </div>

        <div class="box">
            <img class="img-home" src="images/Photographers-Pictures/Nora-Hegedus/NH4.jpg">
            <div class="middle">
                <div class="text">
                    Nora Hegedus<br>See more...
                </div>
            </div>
        </div>

        <div class="box">
            <img class="img-home" src="images/Photographers-Pictures/Thierry-Van-Biesen/TVB4.png">
            <div class="middle">
                <div class="text">
                    Thierry Van Biesen<br>See more...
                </div>
            </div>
        </div>

        <div class="box">
            <img class="img-home" src="images/Photographers-Pictures/Jean-Sébastien-Poirier/JSP1.png">
            <div class="middle">
                <div class="text">
                    Jean-Sébastien Poirier<br>See more...
                </div>
            </div>
        </div>

        <div class="box">
            <img class="img-home" src="images/Photographers-Pictures/Caspar-Miskin/CM1.png">
            <div class="middle">
                <div class="text">
                    Caspar Miskin<br>See more...
                </div>
            </div>
        </div>

        <div class="box">
            <img class="img-home" src="images/Photographers-Pictures/Amy-Ta/AT6.png">
            <div class="middle">
                <div class="text">
                    Amy Ta<br>See more...
                </div>
            </div>
        </div>

        <div class="box">
            <img class="img-home" src="images/Photographers-Pictures/Thierry-Van-Biesen/TVB5.png">
            <div class="middle">
                <div class="text">
                    Thierry Van Biesen<br>See more...
                </div>
            </div>
        </div>

        <div class="box">
            <img class="img-home" src="images/Photographers-Pictures/Anais-Da-Silva/ADS6.png">
            <div class="middle">
                <div class="text">
                    Anais Da Silva<br>See more...
                </div>
            </div>
        </div>

        <div class="box">
            <img class="img-home" src="images/Photographers-Pictures/Nora-Hegedus/NH1.jpg">
            <div class="middle">
                <div class="text">
                    Nora Hegedus<br>See more...
                </div>
            </div>
        </div>

        <div class="box">
            <img class="img-home" src="images/Photographers-Pictures/Klaudia-Iga/KI3.jpg">
            <div class="middle">
                <div class="text">
                    Klaudia Iga<br>See more...
                </div>
            </div>
        </div>

        <div class="box">
            <img class="img-home" src="images/Photographers-Pictures/Amy-Ta/AT3.png">
            <div class="middle">
                <div class="text">
                    Ami Ta<br>See more...
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="about">



</footer>