<div class="intro-container">
    <h1>Voulez-vous "cliché" avec moi?</h1>
    <div class="search-container">
            <select class="select-css" id="choice">
                <option value="yes">Yes, why not!</option>
                <option value="no">No, thanks.</option>
            </select>
            <button id="answer"><i class="fas fa-check" aria-hidden="true"></i></button>
            
    </div>
    {{!-- <div class="join-us">
        <p>Want to join our pool of photographers? <a class="hvr-pulse-grow" href="#contact">Join us!</a></p>
    </div> --}}
</div>
<div id="second-part">
    <div class="visual-container">
        {{#each photographers}}
        <div class="box">
            <img class="img-home" src={{this.portfolio.[0]}}>
            <div class="middle">
                <div class="text">
                    {{this.name}}<br>
                    <span><a href="/photographers/{{this._id}}/solo">See more...</a></span>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<div id="contact">
    <h2>Join our pool of photographers!</h2>
    <form action="mailto:admin@cliche.com" method="post" enctype="text/plain">
        <input type="submit" value="EMAIL US">
    </form>
</div>
<div id="about">
    <div class="about-content">
        <h2>ABOUT US</h2>
        <div id="sub-about">
        <div class="profile">
            <!-- FIRST PROFILE -->
            <div class="pp-container">
                <img src="/images/About/Remy/IMG_5115.JPG">
            </div>
            <p class="quote">
                "I hate Toto"
            </p>
            <p class="creator">
                - Remy Pham
            </p>
            <div class="network">
                <a href="#"><i class="fab fa-instagram" style="font-weight: bold;"></i></a>
                <a href="#"><i class="fas fa-at"></i></a>
            </div>
            <p class="favourite">
                STREET STYLE
            </p>
        </div>


        <!-- SECOND PROFILE -->
        <div class="profile">
            <div class="pp-container">
                <img src="/images/About/Kath/IMG_2647.jpg">
            </div>
            <p class="quote">
                "No biggie"
            </p>
            <p class="creator">
                - Kathleen Domingo
            </p>
            <div class="network">
                <a href="#"><i class="fab fa-instagram" style="font-weight: bold;"></i></a>
                <a href="#"><i class="fas fa-at"></i></a>
            </div>
            <p class="favourite">
                LIFESTYLE
            </p>
        </div>


        <!-- THIRD PROFILE -->
        <div class="profile">
            <div class="pp-container">
                <img src="/images/About/Jon/moi2.png">
            </div>
            <p class="quote">
                "35 mm lover"
            </p>
            <p class="creator">
                - Jonathan Oreja
            </p>
            <div class="network">
                <a href="#"><i class="fab fa-instagram" style="font-weight: bold;"></i></a>
                <a href="#"><i class="fas fa-at"></i></a>
            </div>
            <p class="favourite">
                STREET PHOTO
            </p>
        </div>
    </div>
    

    </div>
</div>
