<div class="intro-container">
    <h1>Voulez-vous "cliché" avec moi?</h1>
    <div class="search-container">
        <p>Search by city: </p>
        <form action="" method="post" class="search-form">
            <select class="select-css" id="location" name="location">
                <option value="Paris">Paris</option>
                <option value="London">London</option>
                <option value="Madrid">Madrid</option>
                <option value="Berlin">Berlin</option>
            </select>
            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>
    {{!-- <div class="join-us">
        <p>Want to join our pool of photographers? <a class="hvr-pulse-grow" href="#contact">Join us!</a></p>
    </div> --}}
</div>
<div id="second-part">
    <div class="visual-container">
        {{#each photographers}}
        <div class="box">
            <img class="img-home" src={{this.portfolio.[0]}}>
            <div class="middle">
                <div class="text">
                    {{this.name}}<br>
                    <span><a href="/photographers/{{this._id}}/solo">See more...</a></span>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div id="contact">
    <h2>Join our pool of photographers!</h2>
    <form action="mailto:admin@cliche.com" method="post" enctype="text/plain">
        <input type="submit" value="EMAIL US">
    </form>
</div>

<div id="about">
    <div class="about-content">
        <h2>ABOUT US</h2>
        <div id="sub-about">
        <div class="profile">
            <!-- FIRST PROFILE -->
            <div class="pp-container">
                <div class="pp"></div>
            </div>
            <p class="quote">
                "I don't know what to say"
            </p>
            <p class="creator">
                - Remy Pham
            </p>
            <div class="network">
                <a href="#"><i class="fab fa-instagram" style="font-weight: bold;"></i></a>
                <a href="mailto:remy.8P@gmail.com"><i class="fas fa-at"></i></a>
            </div>
            <p class="favourite">
                STREET STYLE
            </p>
            <div class="self-container">
                <img src="images/About/IMG_5667.jpg">
                <img src="images/About/IMG_5668.jpg">
            </div>
        </div>


        <!-- SECOND PROFILE -->
        <div class="profile">
            <div class="pp-container">
                <div class="pp"></div>
            </div>
            <p class="quote">
                "I don't know what to say"
            </p>
            <p class="creator">
                - Remy Pham
            </p>
            <div class="network">
                <a href="#"><i class="fab fa-instagram" style="font-weight: bold;"></i></a>
                <a href="mailto:remy.8P@gmail.com"><i class="fas fa-at"></i></a>
            </div>
            <p class="favourite">
                Street style
            </p>
            <div class="self-container">
                <img src="images/About/IMG_5667.jpg">
                <img src="images/About/IMG_5668.jpg">
            </div>
        </div>


        <!-- THIRD PROFILE -->
        <div class="profile">
            <div class="pp-container">
                <div class="pp"></div>
            </div>
            <p class="quote">
                "I don't know what to say"
            </p>
            <p class="creator">
                - Remy Pham
            </p>
            <div class="network">
                <a href="#"><i class="fab fa-instagram" style="font-weight: bold;"></i></a>
                <a href="mailto:remy.8P@gmail.com"><i class="fas fa-at"></i></a>
            </div>
            <p class="favourite">
                Street style
            </p>
            <div class="self-container">
                <img src="images/About/IMG_5667.jpg">
                <img src="images/About/IMG_5668.jpg">
            </div>
        </div>
    </div>
    

    </div>


    <div id="infos">


    </div>


</div>