<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CLICHÉ ©</title>
    <script src="https://kit.fontawesome.com/649cf706c0.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amaranth|Oxygen&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{#each css}}
      <link rel='stylesheet' href='/stylesheets/{{this}}'/>
    {{/each}}
    <script src="/javascripts/index.js" type="module"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="icon" type="image/png" href="/images/logo/Fichier 564.png">
  </head>
  <body>
      {{#unless noNav}}
        {{> navMain}}
      {{/unless}}
      {{{body}}}
  </body>
</html>
