<div class="manage-container pages">
  <h3 class="manage-title">Manage Photographers</h3>
  <table class="manage-table">
    <thead>
      <tr class="table-row">
        <th class="table-head">Photographer</th>
        <th class="table-head">Description</th>
        <th class="table-head">Specialties</th>
        <th class="table-head">Other Details</th>
        <th class="table-head" >Edit</th>
        <th class="table-head">Delete</th>
      </tr>
    </thead>

    <tbody>
      {{#each photographers}}
      <tr class="table-row">
        {{> dashboard_photographer_row}} 
      </tr>
      {{/each}}
      {{#unless photographers}}
      <tr>
        <td colspan="6">Add a photographer...</td>
      </tr>
      {{/unless}}
    </tbody>
  </table>
</div>