{{!-- this is going to be a table with edit and delete options--}}

<div class="manage-photographer-wrapper">
  <h3 class="manage-photographers-title">Manage Photographers</h3>
  <table class="manage-table">
    <thead>
      <tr class="table-row">
        <th class="table-head">Picture</th>
        <th class="table-head">Photographer Name</th>
        <th class="table-head">Description</th>
        <th class="table-head">Specialties</th>
        <th class="table-head">Price per Day</th>
        <th class="table-head" >Edit</th>
        <th class="table-head">Delete</th>
      </tr>
    </thead>

    <tbody>
      {{#each photographers}}
      <tr class="table-row">
        {{> dashboard_photographer_row}} 
      </tr>
      {{/each}}
      {{#unless photographers}}
      <tr>
        <td colspan="6">sorry no photographer yet</td>
      </tr>
      {{/unless}}
    </tbody>
  </table>
</div>