* {
  box-sizing: border-box;

}

.intro-container {
  background-color: #000;
  background-image: url(../images/backgroundimage5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 90px;;
}


#second-part {
  /* height: 1300px; */
  padding: 20px;
}

.visual-container {
  width: 100%;
  margin: auto;
  columns: 4;
}

.visual-container .box {
  width: 100%;
  margin: 0 0 20px;
  padding: 10px;
  background-color: #ffffff;
  break-inside: avoid;
  position: relative;
}

.visual-container .box img {
  max-width: 100%;
}

.pp-container>img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

@media (max-width: 1300px) {
  .visual-container {
    columns: 3;
    width: calc(100% - 40px);
    box-sizing: border-box;
    padding: 20px 20px 20px 0;
  }
}

@media (max-width: 980px) {
  .visual-container {
    columns: 2;
  }

  .intro-container {
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: 600px) {
  .visual-container {
    columns: 1;
  }

  .intro-container {
    background-size: cover;
    background-position: center;
  }
}

/* IMAGE DISPLAY TRANSITION/ANIMATION */

.img-home {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Varela Round', sans-serif;
  width: 100%;
  text-align: center;
}

.box:hover .img-home {
  opacity: 0.3;
}

.box:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 20px;
  padding: 16px 32px;
  color: rgb(56, 56, 56);
}

.text span {
  font-size: 13px;
  color: #B62A3D;
  font-style: oblique;
}



/* ABOUT DISPLAY */
#about {
  height: auto;
  text-align: center;
  padding-top: 5%;
}

#sub-about {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile {
  margin: 30px;
}



.quote{
  text-align: center;
  font-style: oblique;
  margin-top: 20px;
}

.creator{
  text-align: center;
  font-family: 'Dancing Script', cursive;
  margin-left: 100px;
}

.network{
  display: flex;
  justify-content: space-evenly;
}
.network i {
  font-size: 20px;
}

.favourite{
  text-align: center;
}

.self-container{
  display: flex;
  justify-content: space-evenly;
}
.self-container img{
  width: 30%;
  height: auto;
}

/* CONTACT US */

#contact {
  border-top: solid 0.5px;
  border-bottom: solid 0.5px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
  margin: 0 10%;
}

#contact h2 {
  color: #000;
  font-size: 3em;
  /* text-shadow: 2px 2px gray; */
  margin-bottom: 40px;
}

input[type=submit] {
  color: #fff;
  font-size: 16px;
  background-color: #B62A3D;
  border: 1px solid #B62A3D;
  border-radius: 10px;
  padding: 10px 30px;
  margin: 20px;
}

input[type=submit]:hover {
  background-color: #fff;
  color: #B62A3D;
}

@media only screen and (max-width: 600px) {
  #sub-about {
    flex-direction: column;
  }
  .profile {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0;
    justify-items: center;
    align-items: center;
  }
  .pp-container>img {
    width: 80px;
    height: 80px;
}
  .creator {
    margin: 0
  }
}
