/* 
button color (brick): #B62A3D
*/


.manage-photographer-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
}

.manage-photographers-title {
    margin: 20px;
    font-size: 2em;
}

.manage-table {
    width: 80%;
}


.table-head {
    /* width: 25%; */
    background-color: #fff;
    color: #B62A3D;
    padding: 10px;
    border: 1px solid #B62A3D;
    border-radius: 10px;
    font-size: 16px;
}

.table-head:nth-child(1) {
    width: 25%
}

.table-head:nth-child(2) {
    width: 25%
}

.table-head:nth-child(3) {
    width: 10%
}

.table-head:nth-child(4) {
    width: 40%
}

.manage-td {
    border: 1px solid #B62A3D;
    border-radius: 5px;
    color: #000;
    padding: 5px;
    text-align: center;
}

.manage-td li {
    list-style: none;
}

.manage-td a {
    color: #000;
    text-decoration: none;
}

.manage-td a:hover {
    color: #B62A3D;
}

.manage-td img {
    width: 150px;
    margin: auto;
}

/* TEST */

.td-profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.td-profile > :first-child {
    margin-bottom: 20px;
}

.td-details {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.td-details div {
    margin: 10px 0;
}

/* IDK */

.table-division{
    border: solid 2px black;
}

.table-row{
    border: solid 2px black;
}

.row-pic{
    height: auto;
    width: 50px;
    border-radius: 20%;
}

.categories{
    margin: 20px;
}

.description{
    font-style: italic;
    font-size: 0.8em;
    color: gray;
    margin: 10px;
}

.edit{
    margin: 10px;
}

.delete{
    margin: 10px
}
