.profile-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photog-info {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin-bottom: 40px; */
}

.photog-info div {
    margin: 10px;
}

.each-profile-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #B62A3D;
}

input[type=submit] {
    color: #fff;
    font-size: 16px;
    background-color: #B62A3D;
    border: 1px solid #B62A3D;
    border-radius: 10px;
    padding: 10px 30px;
}

input[type=submit]:hover {
    background-color: #fff;
    color: #B62A3D;
}

.each-btn {
    color: #fff;
    /* font-size: 16px; */
    background-color: #B62A3D;
    border: 1px solid #B62A3D;
    border-radius: 10px;
    padding: 10px 30px;
}

.each-like {
    margin: 10px auto;
    border: none;
    display: flex;
    justify-content: center;

}

.fa-heart {
    color: #B62A3D;
}

.fa-heart:hover {
    opacity: 0.7;
}

.each-photo {
    width:30%;
}

.impt {
    color: #B62A3D;
}

.each-review {
    font-size: 12px;
    border: 1px solid lightgray;
    border-radius: 20px;
    min-height: 80px;
    padding: 20px;
}

/* === TABS === */

.tabset-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabset {
    width: 100vh;
}

.add-review-container {
    width: 100%;
    margin: 10px 0;
}



.add-review-container textarea {
    width: 100%;
    min-height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid #B62A3D;
    padding: 10px;
    font-size: 12px;
}

/*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
  }
  
  .tabset .tab-panel {
    display: none;
  }
  
  .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
  .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
  .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
  .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
  .tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
  .tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
  }
  
  /*
   Styling
  */
  body {
    /* font: 16px/1.5em inherit; */
    color: #333;
    /* font-weight: 300; */
  }
  
  .tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    /* font-weight: 600; */
  }
  
  .tabset > label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: #8d8d8d;
  }
  
  .tabset > label:hover,
  .tabset > input:focus + label {
    color: #B62A3D;
  }
  
  .tabset > label:hover::after,
  .tabset > input:focus + label::after,
  .tabset > input:checked + label::after {
    background: #B62A3D;
  }
  
  .tabset > input:checked + label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
  }
  
  .tab-panel {
    width: 100%;
    padding: 30px 0;
    border-top: 1px solid #ccc;
  }