.global-container{
    display: flex;

}

.search-container{
}


.photographer-found{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.photographer-block{
    width: 30em;
    height: 30em;
    margin: 20px;
}
.profil-pic{
    height: 5em;
    width: 5em;
    border-radius: 40%;
}

.ph-description{

}
