.pages>h1 {
    text-align: center;
}

#profile-container {
    display: flex;
    justify-content: space-evenly;

}

#filterText {
    font-size: 12px;
}

.form-container{
    width: 20vw;
    margin-top: 80px;
}


#all-photographers{
    display: grid;
    grid-template-columns: repeat(2, 30vw);
    grid-template-rows: auto;
    margin: 20px auto;
    grid-column-gap: 30px;
    grid-row-gap: 40px;
}


#all-photographers>a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: rgb(94, 94, 94);
    margin: 40px 0;
}

.photographer-profile{
    border: solid 0.5px lightgrey;
    width: 100%;
    margin: 40px auto;
    height: 100%;
    box-shadow: 17px 20px 18px 0px rgba(189,189,189,1);
}
.photographer-profile:hover{
    box-shadow: 17px 20px 18px 0px rgba(182,42,61,0.64);
}

.portfolio-block{
    display: flex;
    height: 40%;
    width: 90%;
    overflow-y: hidden;
    margin: 20px auto 0 auto;
    align-items: center;
}


.img-portfolio{
    max-width: 100%;
    height: auto;
    margin: auto;
}

.photographers-infos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40%;
}


.tete {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.text-profile>h3 {
    font-family: 'Cinzel', serif;
    margin-bottom: 30px;
}
.text-profile>p {
    font-family: Arial, Helvetica, sans-serif;
}
.text-profile li {
    list-style: square;
    margin-left: 20px;
}


@media (max-width: 700px) {
    .pages {
        margin-top: 100px;
    }
    #profile-container {
        flex-direction: column;
        align-items: center;
    }
    #all-photographers>a {
        margin: 0
    }
    #all-photographers {
        grid-template-columns: repeat(1, 100%);
        margin: 0 auto;
    }
   
}

@media (min-width: 700px) and (max-width: 900px) {
    #all-photographers {
        grid-template-columns: repeat(1, auto);
        margin: 0 auto;
    }
    #profile-container {
        flex-direction: column;
        align-items: center;
    }
    #all-photographers>a {
        margin: 0
    }
}