* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
}

a {
  color: #00B7FF;
}

/* NAV BAR */

#nav-main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 40px;
}

.left-nav {
  /* width: 30%; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.left-nav a {
  margin-right: 20px;
}


.center-nav {
  width: 50%;
  display: flex;
  justify-content: center;
}

.right-nav {
  /* width: 30%; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.right-nav a {
  margin-left: 20px;;
}

/* INTRO PAGE */

.intro-container {
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-container {
  display: flex;
  flex-direction: row;

}

/* ===== MASONRY ===== */

/* fluid 5 columns */
.grid-sizer,
.grid-item { width: 20%; }
/* 2 columns */
.grid-item--width2 { width: 40%; }



/* SMALLER SCREENS - RESPONSIVE SECTION */

@media (max-width: 768px) {
  
}

