.user-container {
    display: flex;
    flex-direction: column;

}

.user-title {
    margin: 0 20px;
    /* color: #B62A3D; */
}

/* CARD */
.cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.user-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 40%;
    /* margin: auto; */
    margin: 20px 10px;
    text-align: center;
    padding: 20px;
}

.user-card > * {
    margin: 10px;
}

img.user-avatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #B62A3D;
}

.link-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 60%;
    margin: 20px 10px;
    text-align: center;
    padding: 20px;
}
  
  .company {
    color: grey;
    font-size: 18px;
  }
  
  .btn-edit {
    text-decoration: none;
    border: 1px solid #B62A3D;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #B62A3D;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 14px;
    border-radius: 20px;
    margin-top: 20px;
  }
  
  .btn-edit:hover, a:hover {
    background-color: #fff;
    color: #B62A3D;
  }

  /* LIKED/LINKED SECTION */

  div#linked-wrapper {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  div#linked-wrapper a {
    text-decoration: none;

  }

  /* #linked-wrapper div {
    margin: 10px;
  } */

  img.liked-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #B62A3D;
    margin: 20px;
  }

  .btn-x {
    padding: 0 3px;
    color: #B62A3D;
    font-size: 10px;
    background-color: #fff;
    /* border: 0.5px solid; */
    margin: 3px;
  }

  /* RESPONSIVE SECTION */

  @media only screen and (max-width: 980) {
    .pages {
      padding-top: 60%;
    }
  }

  @media only screen and (max-width: 768px) {

    .pages {
      padding-top: 8%;
    }

    /* .btn-x {
      display: none;
    } */

    img.user-avatar {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid #B62A3D;
  }

  }

  @media only screen and (max-width: 700px) {

    .cards {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    
    .user-card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        width: 100%;
        /* margin: auto; */
        margin: 20px 10px;
        text-align: center;
        padding: 20px;
    }

    .link-card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      width: 100%;
      margin: 20px 10px;
      text-align: center;
      padding: 20px;
    }

  }

  @media only screen and (max-width: 500px) {
    .user-container {
        padding-top: 10%;
      }
  }
  