<div class="pages">
  <div class="page-title"><h1>Add Photographer</h1></div>
  <div class="form-container">
    <form class="add-form" action="/photographers/add" method="POST">
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="Name">

      <label for="description">Description</label>
      <textarea type="text" name="description" placeholder="Blablabla"></textarea>

      <label for="price">Price</label>
      <input type="number" name="price" placeholder="700">

      <h4>Select location</h4>
      <div class="select-location">
        <span>
          <input id="location1" type="radio" name="location" value="Paris">
          <label for="location1">Paris</label>
        </span>
        <span>
          <input id="location2" type="radio" name="location" value="London">
          <label for="location2">London</label>
        </span>
        <span>
          <input id="location3" type="radio" name="location" value="Berlin">
          <label for="location3">Berlin</label>
        </span>
      </div>
      
      <p>Select specialties</p>
      <div class="select-specialties"></div>
        <span>
          <input type="checkbox" id="events" name="categories" value="events">
          <label for="events">Events</label>
        </span>
        <span>
          <input type="checkbox" id="lifestyle" name="categories" value="lifestyle">
          <label for="lifestyle">Lifestyle</label>
        </span>
        <span>
          <input type="checkbox" id="real-estate" name="categories" value="real estate">
          <label for="real-estate">Real Estate</label>
        </span>
        <span>
          <input type="checkbox" id="portrait" name="categories" value="portrait">
          <label for="portrait">Portrait</label>
        </span>
        <span>
          <input type="checkbox" id="packshots" name="categories" value="packshots">
          <label for="packshots">Packshots and Still Life</label>
        </span>
        <span>
          <input type="checkbox" id="food" name="categories" value="food">
          <label for="food">Food</label>
        </span>
        <span>
          <input type="checkbox" id="fashion" name="categories" value="fashion">
          <label for="fashion">Fashion</label>
        </span>
        <span>
          <input type="checkbox" id="advertising" name="categories" value="advertising">
          <label for="advertising">Advertising</label>
        </span>
      </div>
      
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="johndoe@gmail.com">
      
      
      <button type="submit">Add Photographer</button>
    </form>

    <div class="error-container">
      {{#if error}}
      <span class="error-message">{{error}}</span>
      {{/if}}
    </div>
  </div>


</div>