<div class="pages content">
  <div class="page-title">
    <h1>Add Photographer</h1>
  </div>
  <div class="form-container">
    <form class="photog-form" action="/photographers/add" method="POST" enctype="multipart/form-data">
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="Name">

      <label for="email">Email</label>
      <input type="email" name="email" placeholder="johndoe@gmail.com">

      <label for="description">Description</label>
      <textarea type="text" name="description" placeholder="Description"></textarea>

      <label for="price">Price</label>
      <input type="number" name="price" placeholder="700">

      <label for="location">Location</label>
      
      <div class="select-location">
        <select id="location" name="location">
          <option value="Paris">Paris</option>
          <option value="London">London</option>
          <option value="Berlin">Berlin</option>
        </select>
      </div>

      <p>Specialties</p>
      <div class="select-specialties">
        <label class="specialty-box" for="events">Events
          <input type="checkbox" id="events" name="categories" value="events">
          <span class="checkmark"></span>
        </label>

        <label class="specialty-box" for="lifestyle">Lifestyle
          <input type="checkbox" id="lifestyle" name="categories" value="lifestyle">
          <span class="checkmark"></span>
        </label>

        <label class="specialty-box" for="real-estate">Real Estate
          <input type="checkbox" id="real-estate" name="categories" value="real estate">
          <span class="checkmark"></span>
        </label>

        <label class="specialty-box" for="portrait">Portrait
          <input type="checkbox" id="portrait" name="categories" value="portrait">
          <span class="checkmark"></span>
        </label>

        <label class="specialty-box" for="packshots">Packshots and Still Life
          <input type="checkbox" id="packshots" name="categories" value="packshots">
          <span class="checkmark"></span>
        </label>

        <label class="specialty-box" for="food">Food
          <input type="checkbox" id="food" name="categories" value="food">
          <span class="checkmark"></span>
        </label>

        <label class="specialty-box" for="fashion">Fashion
          <input type="checkbox" id="fashion" name="categories" value="fashion">
          <span class="checkmark"></span>
        </label>

        <label class="specialty-box" for="advertising">Advertising
          <input type="checkbox" id="advertising" name="categories" value="advertising">
          <span class="checkmark"></span>
        </label>
      </div>
 
       <label for="portfolio">Portfolio 
        <input id="shadow1" type="text" name="portfolio" >
        <input id="shadow2" type="text" name="portfolio" >
        <input id="shadow3" type="text" name="portfolio" >
        <input id="shadow4" type="text" name="portfolio" >
        <input id="shadow5" type="text" name="portfolio" >
        <input id="shadow6" type="text" name="portfolio" >
        <input id="shadow7" type="text" name="portfolio" >
        <input id="shadow8" type="text" name="portfolio" >
        <input id="shadow9" type="text" name="portfolio" >
        <input id="shadow10" type="text" name="portfolio" >
        </label>
        <div id="upload_widget" class="cloudinary-button">Upload files</div>
      
       <label for="profile_picture">Profile Picture</label>
        <input id="input-file" type="file"  name="profile_picture" >
{{!-- 
       <label for="portfolio">Portfolio</label>
        <input id="input-file" type="file"  name="portfolio" multiple> --}}
      
      <button type="submit">Add Photographer</button>
  
    </form>




<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>  

<script type="text/javascript">  
var count = 0
var myWidget = cloudinary.createUploadWidget({
  cloudName: 'dgsw2jxng', 
  uploadPreset: 'p0t2hwqz',
  apiKey: '451964888999499'}, (error, result) => { 
    if (!error && result && result.event === "success") { 
      count ++
      console.log(result.info.secure_url)
      //Creer un input dans le form 
      document.getElementById(`shadow${count}`).value = result.info.secure_url

      console.log('Done! Here is the image info: ', result.info); 
    }
  }
)

document.getElementById("upload_widget").addEventListener("click", function(){
    myWidget.open();
  }, false);
</script>




